<div id="cookie-banner">
    <p>This website uses cookies to store the users session id with the NAS. No user data is collected.</p>
    <button onclick="acceptCookies()">Got it!</button>
</div>
<script src="javascripts/cookie.js"></script>