<meta charset="UTF-8">
<title>DS-Search</title>
<link type="text/css" rel="stylesheet" href="stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="DS-Search is a tool to search for data stored on a Synology NAS">