<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/shared_folders.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/folder.css">
</head>
<body>
<div class="container">
    <h1>DS Search:</h1>
    <h2>Folder</h2>
    <button value="back" onclick="window.location.href='/sharedFolders'">Back</button>
    <form id="search">
        <label for="search_input">Search:</label>
        <input type="text" id="search_input" name="search_input">
        <button type="submit">Search</button>
    </form>
    <div class="shared_folders"></div>
    <button name="logout" onclick="logout()">Logout</button>
</div>

<%- include('./partials/loading.ejs') %>
<script src="javascripts/main.js"></script>
<script src="javascripts/folder.js"></script>
<%- include('./partials/cookies.ejs') %>
</div>
</body>
</html>