<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link type="text/css" rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
<div class="container">
    <h1>DS Search</h1>
    <form class="connection-form">
        <label for="url">URL:</label>
        <div class="url-input-container">
            <select class="protocol-selector" id="protocolSelector">
                <option value="http://">http://</option>
                <option value="https://" selected>https://</option>
            </select>
            <input type="text" class="url-input" placeholder="Enter URL" id="url" name="url">
        </div>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autocomplete="username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="current-password">

        <label for="otp_code">OTP Code:</label>
        <input type="number" id="otp_code" name="otp_code" max="999999">

        <!-- Add a switch to enable/disable checktls -->
        <div class="center">
            <input type="submit" value="Connect">
        </div>
    </form>
</div>
<div class="loadingContainer" active="false">
    <img src="images/loading.gif" alt="Loading" id="loadingGif">
</div>

<%- include('./partials/cookies.ejs') %>
<script src="javascripts/index.js"></script>
</body>
</html>