<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/shared_folders.css">
</head>
<body>
<div class="container">
    <h1>DS Search:</h1>
    <h2>Shared Folders</h2>

    <div class="shared_folders"></div>
    <button name="logout" onclick="logout()">Logout</button>
</div>

<div class="loadingContainer" active="false">
    <img src="images/loading.gif" alt="Loading" id="loadingGif">
</div>
<script src="javascripts/main.js"></script>
<script src="javascripts/shared_folders.js"></script>
<%- include('./partials/cookies.ejs')%>
</body>
</html>