div .shared_folders {
  margin-top: 20px;
  margin-bottom: 20px;
}

div .shared_folders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    gap: 10px;
    width: 90%;
}

.folder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr 0.2fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: var(--color-surface-200);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

.file_icon {
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    align-self: center;
}
.name {
    grid-area: 2 / 1 / 3 / 2;
    color: var(--color-primary-500);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.path { grid-area: 3 / 1 / 4 / 2; }

div .folder:hover {
    background-color: var(--color-surface-300);
}

div .folder[selected="true"] {
    background-color: var(--color-surface-400);
}

@media (max-width: 768px) {
    div .shared_folders {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .folder {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        grid-template-rows: 0.8fr 0.4fr;
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }

    .file_icon {
        grid-area: 1 / 1 / 3 / 2;
        width: auto;
    }
    .name { grid-area: 1 / 2 / 2 / 3; }
    .path { grid-area: 2 / 2 / 3 / 3; }
}